body {
  overflow-x: hidden;
}

.first-landing-page {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 30px;
  position: relative;
}

.main-heading-section {
  padding: 20px; /* Add padding for smaller screens */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Decrease gap for smaller screens */
}

.big-heading {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align text for smaller screens */
}

.first-subheading {
  font-size: 22px;
  /* width: 600px; */
  color: gray;
  line-height: 30px;
  text-align: center;
}

.small-heading {
  font-size: 20px;
}

.small-heading-red-color {
  font-size: 20px;
  color: red;
}

.medium-heading {
  font-size: 40px;
  font-weight: bold;
}

.small-heading-gray-color {
  font-size: 20px;
  color: gray;
}

.group-logo-size {
  height: 40px;
  width: 40px;
}

.company-cards-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expect-zebralearn {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(214, 204, 204);
  border-radius: 10px;
  min-width: 200px;
}

.task-name-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5rem;
}

.bg-image {
  /* background-image: url("../assets/scroll_banner.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  width: 100%;
  height: 600px;
  opacity: 1;
  transition: opacity 0.3s, transform 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-triggered-content {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.3s, transform 2s;
}

.scroll-triggered-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-image img {
  width: 800px;
  object-fit: cover;
}

/* all pages file */

.main-contents {
  padding: 40px;
  background-color: white;
  /* border-bottom: 1px solid lightgray; */
}

.logos-section {
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logos-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main-container {
  position: relative;
}
.video-container {
  position: sticky;
  bottom: 50%;
  background-color: #fcf4ed;
  padding: 20px;
  top: 25%;
  border-radius: 10px;
}
.row-contents-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding: 5rem;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 600px;
}

.task-name-combined {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5rem;
}

.text-task-name-combined {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
  max-width: 600px;
}

/* explore todo */

.explore-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-page {
  padding: 20px; /* Add padding for smaller screens */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px; /* Decrease gap for smaller screens */
}

.group-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.row-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none; /* Remove list style */
}

.social-media-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none; /* Remove list style */
  gap: 40px;
}

.carousel-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-inline: 12rem;
  min-height: 60vh;
}

.carousel-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

.gallery-container {
  overflow: hidden;
  max-width: 600px;

  -webkit-mask: linear-gradient(
    to right,
    transparent 0,
    transparent 10%,
    black 20%,
    black 80%,
    transparent 90%,
    transparent 100%
  );
}

.gallery {
  display: flex;
  animation: slide 15s linear infinite;
}

.gallery img {
  margin-right: 20px; /* Adjust as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}




.stepper-container {
  height: 100vh;
  padding: 4rem;
}

.stepper-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stepper-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: sticky;
}

.stepper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.step {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.9rem;
  margin: 0;
}

.stepper-left-right-contents-size{
min-width: 450px;
padding: 2rem;
}

.line {
  position: absolute; 
  top: 90%; 
  left: 50%; 
  height: 100%; 
  width: 4px; 
  background-color: grey;
}

.active .line {
  background-color: #ff5612; 
}


.steppers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
