body {
  /* width: 100%;
  height: 100%; */
  overflow-x: hidden;
}

.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5612;
}
.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); */
}

.log-in-button {
  padding: 0.6rem;
  /* background-color: #FF5612; */
  /* color: white; */
  font-weight: 400;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 8px;
}

.start-free-btn {
  padding: 0.6rem;
  background-color: #ff5612;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 8px;
  padding-inline: 12px; /* Adjust paddingInline to your preference */
}

.header-login-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.big-button {
  width: 150px;
  height: 50px;
  background-color: #ff5612;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.small-button {
  background-color: #ff5612;
  color: white;
  padding: 0.6rem;
  padding-inline: 1.5rem;
  border: none;
  font-weight: 400;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.first-landing-page {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 4rem;
  position: relative;
}

.main-heading-section {
  padding: 20px; /* Add padding for smaller screens */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem; /* Decrease gap for smaller screens */
}

.big-heading {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align text for smaller screens */
}

.first-subheading {
  font-size: 22px;
  color: gray;
  line-height: 30px;
  text-align: center;
  max-width: 650px;
}

.small-heading {
  font-size: 20px;
}

.small-heading-red-color {
  font-size: 20px;
  color: red;
}

.medium-heading {
  font-size: 40px;
  font-weight: bold;
}

.small-heading-gray-color {
  font-size: 20px;
  color: gray;
}

.group-logo-size {
  height: 40px;
  width: 40px;
}

.company-cards-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expect-zebralearn {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(214, 204, 204);
  border-radius: 10px;
  min-width: 200px;
}

.task-name-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5rem;
}

.bg-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  width: 100%;
  height: 700px;
  opacity: 1;
  transition: opacity 0.3s, transform 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-triggered-content {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.3s, transform 1s;
}

.scroll-triggered-content.visible {
  /* opacity: 1; */
  transform: translateY(-50%);
}

.slide-image img {
  width: 1200px;
  object-fit: cover;
}

/* all pages file */

.main-contents {
  padding-top: 7rem;
  background-color: white;
  /* border-bottom: 1px solid lightgray; */
}

.logos-section {
  padding-inline: 20px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.logos-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main-container {
  position: relative;
}
.video-container {
  position: sticky;
  bottom: 50%;
  background-color: #fcf4ed;
  padding: 20px;
  top: 25%;
  border-radius: 10px;
}
.row-contents-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  padding: 5rem;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 600px;
}

.sub-texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 70vh;
  align-items: flex-start;
  justify-content: center;
}

.task-name-combined {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5rem;
}

.text-task-name-combined {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
  max-width: 600px;
}

/* explore todo */

.explore-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  min-height: 90vh;
  padding-top: 2rem;
  background-color: #fcf4ed;
  text-align: center;
}

.footer-page {
  padding: 20px; /* Add padding for smaller screens */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem; /* Decrease gap for smaller screens */
}

.footer-heading {
  font-size: 3rem;
  font-weight: bold;
  max-width: 80%;
}

.group-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.row-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none; /* Remove list style */
}

.social-media-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none; /* Remove list style */
  gap: 40px;
}

.carousel-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 30px;
  padding-inline: 12rem; */
  min-height: 60vh;
}

.carousel-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  max-width: 700px;
}

.gallery-container {
  overflow: hidden;
  max-width: 700px;
  /* background: linear-gradient(to right, transparent, mistyrose); */
  -webkit-mask: linear-gradient(
    to right,
    transparent 0,
    transparent 10%,
    black 20%,
    black 80%,
    transparent 90%,
    transparent 100%
  );
}

.gallery {
  display: flex;
  gap: 20px;
  animation: slide 15s linear infinite;
}

.gallery img {
  margin-right: 20px; /* Adjust as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* stepper css start */

.stepper-container {
  height: 100vh;
  padding: 4rem;
  position: relative;
}

.main-ss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 20%;
  bottom: 0%;
}

.stepper-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stepper-subheading {
  font-size: 2.5rem;
  color: gray;
}

.stepper-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.stepper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.step {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.9rem;
  margin: 0;
}

.stepper-left-contents-size {
  min-width: 450px;
  padding: 2rem;
  /* display: block; */
}
.stepper-right-contents-size {
  min-width: 450px;
  padding: 2rem;
}

.line {
  position: absolute;
  top: 75%;
  left: 50%;
  height: 100%;
  width: 4px;
  background-color: grey;
}

/* .active .line {
  background-color: #ff5612; 
} */

.steppers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* stepper css end */

/* footer page */

img.rounded-circle {
  border-radius: 50%;
}

.testimonial-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .slide-image,
  .video-container,
  video {
    display: none;
  }

  .landing-header {
    padding-inline: 1rem;
  }

  .header-text {
    font-size: 1.2rem;
  }

  .log-in-button {
    /* font-size: 1rem;
  padding-inline: 20px; */
    display: none;
  }

  .start-free-btn {
    font-size: 1rem;
    padding-inline: 5px;
  }

  .first-landing-page {
    padding: 0.5rem;
  }

  .big-heading {
    font-size: 1.5rem;
  }

  .medium-heading {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .small-heading-gray-color,
  .small-heading-red-color {
    font-size: 1.1rem;
  }
  .first-subheading {
    font-size: 14px;
    color: gray;
    line-height: 25px;
    max-width: 100%;
  }

  .carousel-section {
    flex-direction: column;
    gap: 15px;
    padding-inline: 1rem;
  }

  .group-list {
    flex-direction: column;
    gap: 20px;
  }

  .row-list,
  .social-media-list {
    flex-direction: column;
    gap: 20px;
  }

  .main-heading-section {
    padding: 1rem;
    gap: 2rem;
  }

  .bg-image {
    height: 30vh;
  }
  .main-contents {
    padding: 1rem;
    gap: 2rem;
  }
  .logos-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .company-cards-section {
    gap: 5rem;
  }
  .main-container {
    padding: 0;
  }

  .row-contents-section {
    gap: 1rem;
    padding: 1rem;
  }
  .sub-texts {
    gap: 1rem;
    min-height: 10vh;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .stepper-subheading {
    font-size: 1.2rem;
    color: gray;
  }

  .stepper-container {
    height: auto;
    padding: 2rem;
  }
  .stepper-section {
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
  }
  .stepper-left-contents-size {
    min-width: 0;
    padding: 0;
    display: none;
  }
  .stepper-right-contents-size {
    min-width: 200px;
    padding: 2rem;
  }

  .task-name-row {
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
  }

  .testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-heading {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 100%;
  }
}

/* @media only screen and (min-width: 1024px) { */
@media only screen and (max-width: 1024px) {
  .slide-image,
  .video-container,
  video {
    width: 300px;
    height: 300px;
  }
  .carousel-section {
    flex-direction: row;
    gap: 15px;
    padding-inline: 1rem;
  }
  .landing-header {
    padding-inline: 1rem;
  }

  .start-free-btn {
    font-size: 1rem;
    padding-inline: 5px;
  }

  .first-landing-page {
    padding: 0.5rem;
  }

  .big-heading {
    font-size: 1.5rem;
  }

  .medium-heading {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .carousel-section {
    flex-direction: row;
    gap: 15px;
    padding-inline: 1rem;
  }

  .slide-image img {
    width: 400px;
  }

  .main-heading-section {
    padding: 1rem;
    gap: 2rem;
  }

  .bg-image {
    height: 80vh;
  }
  .main-contents {
    padding: 1rem;
    gap: 2rem;
  }
  .logos-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .company-cards-section {
    gap: 2rem;
  }
  .main-container {
    padding: 0;
  }

  .row-contents-section {
    gap: 1rem;
    padding: 1rem;
  }
  .sub-texts {
    gap: 1rem;
    min-height: 10vh;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .stepper-subheading {
    font-size: 1.2rem;
    color: gray;
  }

  .stepper-container {
    height: auto;
    padding: 2rem;
  }
  .stepper-section {
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
  }
  .stepper-left-contents-size {

    display: block;
  }
  .stepper-right-contents-size {
    min-width: 200px;
    padding: 2rem;
  }

  .task-name-row {
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
  }

  .testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

}








/* first page sliding  */

.main-container-sliding {
  /* max-block-size: 60.625rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid black;
  height: 75vh;
  /* background-color: black; */
}

.first-div {
  width: 68rem;
  max-width: 82rem;
}

.video-sliding {
  position: absolute;
  top: 0;
  /* left: 0; */
  z-index: 1; /* Increase z-index */
  
}

.second-div {
  position: relative; /* Add position relative */

  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.third-div {
  position: relative;
  width: 100%;
  max-inline-size: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth-div {
  position: absolute;
  top: 0;
  /* bottom: 50%; */
  z-index: 1;
}
.fourth-div img {
  width: 1300px;
  height: 900px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: 1px solid black;
}
