
.stepper-container {
  height: 1200vh;
  padding: 4rem;
  position: relative;
  background-color: white;
}

.main-ss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: sticky;
  top: 20%;
  bottom: 0;
}

.stepper-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.stepper-subheading {
  font-size: 1.6rem;
  color: gray;
}

.stepper-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* //height: 100vh; */
}

.stepper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.selling-step {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.9rem;
  margin: 0;
}

.stepper-left-contents-size {
  min-width: 500px;
  padding: 2rem;
  /* display: block; */
}

.stepper-right-contents-size {
  min-width: 500px;
  padding: 2rem;
}

.selling-step-line {
  position: absolute;
  top: 70%;
  left: 48%;
  height: 100%;
  width: 2px;
  background-color: grey;
}

.steppers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}